<app-list-toolbar [(search)]="list.search" (searchSubmitted)="list.applySearch()">
</app-list-toolbar>

<mat-card>
  <app-list-state [loading]="list.loading()" [error]="list.error()" (retry)="list.load()" />
  <div class="table-wrap wide">
    <table mat-table [dataSource]="list.rows()" matSort (matSortChange)="list.sortChange($event)">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'list.id' | transloco }}</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'list.property' | transloco }}</th>
        <td mat-cell *matCellDef="let row">{{ row.property }}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'list.value' | transloco }}</th>
        <td mat-cell *matCellDef="let row">{{ row.value }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'list.description' | transloco }}</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <span *appPermission="'setting:write'">
            <button
              mat-icon-button
              (click)="list.openDialog(row)"
              [attr.aria-label]="'list.edit' | transloco"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-mdc-row" *matNoDataRow>
        <td class="mat-mdc-cell" [attr.colspan]="displayedColumns.length">
          @if (!list.loading() && !list.error()) {
            {{ 'list.empty' | transloco }}
          }
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator
    showFirstLastButtons
    [length]="list.count()"
    [pageIndex]="list.params.page - 1"
    [pageSize]="list.params.page_size"
    [pageSizeOptions]="list.perPageOptions"
    (page)="list.pageChange($event)"
  >
  </mat-paginator>
</mat-card>
