/* You can add global styles to this file, and also import other style files */
@use 'layout';
@use 'theme';
@use 'event-controls';
@use 'event-presentation';
@import '@fontsource/noto-sans-arabic/400.css';
@import '@fontsource/noto-sans-arabic/500.css';
@import '@fontsource/material-icons/index.css';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/manrope/800.css';
